* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}
:root {
  --bg-color: hsl(222, 26%, 31%);
  --toggle-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --screen-text-color: #fff;
  --primary-color: #fff;
  --text-color-2: #fff;
  --text-color-1: hsl(221, 14%, 31%);
  --text-display-1: hsl(0, 0%, 93%);
  --key-background-1: hsl(30, 25%, 89%);
  --key-background-2: hsl(225, 21%, 49%);
  --key-background-3: hsl(6, 63%, 50%);
  --key-shadow-1: hsl(28, 16%, 65%);
  --key-shadow-2: hsl(224, 28%, 35%);
  --key-shadow-3: hsl(6, 70%, 34%);
}

/* light */
[data-theme="light"] {
  --bg-color: hsl(0, 0%, 90%);
  --toggle-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  --screen-text-color: hsl(60, 10%, 19%);
  --text-color-1: hsl(60, 10%, 19%);
  --primary-color: hsl(60, 10%, 19%);
  --text-color-2: hsl(0, 0%, 93%);
  --text-display-1: hsl(60, 10%, 19%);
  --key-background-1: hsl(45, 7%, 89%);
  --key-background-2: hsl(185, 42%, 37%);
  --key-background-3: hsl(25, 98%, 40%);
  --key-shadow-1: hsl(35, 11%, 61%);
  --key-shadow-2: hsl(185, 58%, 25%);
  --key-shadow-3: hsl(25, 99%, 27%);
}

/* dark */
[data-theme="dark"] {
  --bg-color: hsl(268, 75%, 9%);
  --toggle-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  --screen-text-color: hsl(52, 100%, 62%);
  --primary-color: hsl(52, 100%, 62%);
  --text-color-1: hsl(52, 100%, 62%);
  --text-color-2: hsl(268, 71%, 12%);
  --text-display-1: hsl(52, 100%, 62%);
  --key-background-1: hsl(268, 47%, 21%);
  --key-background-2: hsl(281, 89%, 26%);
  --key-background-3: hsl(176, 100%, 44%);
  --key-shadow-1: hsl(290, 70%, 36%);
  --key-shadow-2: hsl(285, 91%, 52%);
  --key-shadow-3: hsl(177, 92%, 70%);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.container {
  position: relative;
  max-width: 480px;
  border-radius: 12px;
  padding: 10px 20px 20px;
}
.display {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  text-align: right;
  margin-bottom: 10px;
  font-size: 42px;
  color: var(--text-display-1);
  background-color: var(--screen-background);
  pointer-events: none;
  padding: 20px 20px;
}
.buttons-container {
  background-color: var(--toggle-background);
  border-radius: 6px;
  padding: 20px;
}
.buttons {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 16px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background: var(--key-background-1);
  color: var(--text-color-1);
  box-shadow: inset 0 -5px 0 var(--key-shadow-1);
  transition: all 0.1s ease;
}
.buttons button:active {
  transform: scale(0.94);
  box-shadow: inset 0 5px 0 var(--key-shadow-1);
}
.buttons button.operator-del {
  background: var(--key-background-2);
  color: #fff;
  box-shadow: inset 0 -5px 0 var(--key-shadow-2);
  transition: all 0.1s ease;
}

.buttons button.operator-del:active {
  transform: scale(0.94);
  box-shadow: inset 0 5px 0 var(--key-shadow-2);
}

.buttons-container .buttons2 {
  width: 100%;
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  gap: 15px;
}

.buttons-container .buttons2 button {
  padding: 16px;
  max-width: 200px;
  width: 100%;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background: var(--key-background-3);
  color: var(--text-color-2);
  box-shadow: inset 0 -5px 0 var(--key-shadow-3);
  transition: all 0.03s ease;
}
.buttons-container .buttons2 button:active {
  transform: scale(0.94);
  box-shadow: inset 0 5px 0 var(--key-shadow-3);
}
.buttons-container .buttons2 button:first-child {
  background: var(--key-background-2);
  color: #fff;
  box-shadow: inset 0 -5px 0 var(--key-shadow-2);
  transition: all 0.03s ease;
}
.buttons-container .buttons2 button:first-child:active {
  transform: scale(0.94);
  box-shadow: inset 0 5px 0 var(--key-shadow-2);
}
.calc-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.calc-header h1 {
  color: var(--primary-color);
  font-size: 2.4rem;
}

.theme {
  display: flex;
  align-items: flex-end;
}

.theme-text {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1rem;
  margin-right: 15px;
}

.theme input {
  display: none;
}

.theme-switcher {
  display: flex;
  justify-content: space-between;
  width: 6rem;
  height: 3.4rem;
  position: relative;
}

.theme-switcher label {
  flex: none;
  width: 33.3%;
  height: 100%;
  background-color: transparent;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 1.3rem;
  position: relative;
  z-index: 3;
}

.theme-switcher .indicator {
  display: none;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--key-background-3);
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  z-index: 2;
}

.theme-switcher input:checked + .indicator {
  display: inline-block;
}

.theme .switch-slider {
  width: 100%;
  height: 1.8rem;
  background: var(--toggle-background);
  border-radius: 10rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 97%;
  margin: 0 auto;
}
